# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.cgd_jam2.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\steve\Desktop\CGD\cgd_jam2\.idea\.idea.cgd_jam2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
